{% extends 'public/base_interno.html' %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">
    	    <div class="col-sm-9">
                {% block contentbody %}
                    {% load crispy_forms_tags %}
                    <form method="post" novalidate >
                        <h2>Dados da Agência</h2><br>
                        {% csrf_token %}
                        {{form_agencia|crispy}}
                        <br>
                        <h2>Dados do Responsável</h2><br>
                        {{form_pessoa|crispy}}
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a href="{% url 'conta_menu' %}" class="btn btn-primary"> Voltar </a>
                    </form>
                {% endblock %}
            </div> <!--end col -->
        </div> <!--end row -->
    </div> <!--end container -->
{% endblock %}

