{% extends 'public/base_interno.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="col-ms-9">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Módulos do Sistema</h2>
                </div>
            </div>
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-2" >
                    <div class="card">
                        <img class="card-img-top img-thumbnail" src="../../static/images/config-perfil.png" alt="Card image" >
                        <div class="card-body">
                            <h4 class="card-title text text-center">Gestão de Viagens</h4>
                            <a href="{% url 'menu' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top img-thumbnail" src="../../static/images/config-perfil.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title text text-center">Gestão Finaceira</h4>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top img-thumbnail" src="../../static/images/config-perfil.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title text text-center">Gestão de Perfil</h4>
                            <a href="{% url 'adicionar_agencia' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-2" >
                    <div class="card">
                        <img class="card-img-top img-thumbnail" src="../../static/images/config-perfil.png" alt="Card image" >
                        <div class="card-body">
                            <h4 class="card-title text text-center">Gestão de Marketing</h4>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top img-thumbnail" src="../../static/images/config-perfil.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title text text-center">Gestão Site</h4>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img class="card-img-top img-thumbnail" src="../../static/images/config-perfil.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title text text-center">Gestão de Vendas</h4>
                            <a href="{% url 'adicionar_agencia' %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}