{% extends 'excursao/base_home.html' %}

{% block title %} <title> Orçamento </title> {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">
    	    <div class="col">
                {% load crispy_forms_tags %}   
                <form method="post" >
                    <h2>Cadastrar Orçamento</h2><br>
                    {% csrf_token %}
                    {{form|crispy}}                     
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a href="{% url 'home' %}" class="btn btn-primary"> Voltar </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript'>
        $(function(){
            var prestador = $('select[name=prestador_servico]');
            prestador.empty();
            prestador.prepend('<option value="Not selected" selected disabled>Selecione prestador de serviço...</option>');
            $('select[name=tipo_prestador_servico]').change(function(){
                if($("#idTipo option:selected").text() != ("YOU SHOULD INSERT THE INITIAL VALUE OF THE setor FIELD WHEN IT IS NOT SELECTED")) {
                    var tipo_prestador_id = $('select[name=tipo_prestador_servico]').val();
                    request_url = '../prestadorservico/listar/' + tipo_prestador_id;
                    $.ajax({
                        url: request_url,
                        type: "GET",
                        success: function(data){
                            prestador.empty();
                            $.each(data, function(key, value){
                                prestador.append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    })
                }
            })
        });
    </script>
{% endblock %}