{% extends 'public/base_interno.html' %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">
    	    <div class="col">
                {% block contentform %}
                {% load crispy_forms_tags %}
                {% load excursao_filters %}    
                <form method="post" >
                        <h2>Cadastrar Orçamento</h2><br>
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="col-md-6">
                                <select class="form-control" name="prestador_servico">
                                    {% for t in tipo_prestador_servico %}
                                    <optgroup label="{{ t }}">
                                        {% list_prestador_servico ps as prestador_servico %}
                                        {% for prest in prestador_servico %}
                                            <option value="{{ prest }}">{{ prest }}</option>
                                        {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a href="{% url 'menu' %}" class="btn btn-primary"> Voltar </a>
                    </form>
                {% endblock %}
            </div> <!--/row -->
        </div>
    </div>
{% endblock %}