{% extends 'public/base_interno.html' %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="row">
    	    <div class="col-sm-9">
                {% block contentform %}
                {% load crispy_forms_tags %}
                    <form method="post" novalidate >
                        <h2>Cadastrar Transporte</h2><br>
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <a href="{% url 'menu' %}" class="btn btn-primary"> Voltar </a>
                    </form>
                {% endblock %}
            </div> <!--/row -->
        </div>
    </div>
{% endblock %}