{% extends 'public/base_interno.html' %}

{% block content %}
    <div class="container-fluid">

        <br>
        <div class="row">
    	    <div class="col-sm-9">
                {% block contentbody %}
                    {% load crispy_forms_tags %}
                        <form method="post" novalidate >
                            <h2>Atualizar Orçamento Transporte</h2><br>
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                            <a href="{% url 'menu' %}" class="btn btn-primary"> Voltar </a>
                         </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
