{% extends 'excursao/base_home.html' %}

 {% block title %} <title> Prestador Serviço </title> {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="col">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Prestadores de Serviços</h5>
                            {% if service_providers|length > 0 %}
                                <p class="card-text"> Lista de<code> Prestadores de Serviços </code> cadatrados. </p>
                                <table class="table">
                                    <thead class="thead thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Categoria</th>
                                            <th>Nome</th>
                                            <th>CPF/CNPJ</th>
                                            <th>Pessoa Jurídica</th>
                                            <th>E-mail</th>
                                            <th>Telefone</th>
                                            <th>Endereço</th>
                                            <th>Horário de Funcionamento</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for service_provider in service_providers %}
                                            <tr>
                                                <td>{{ service_provider.id }}</td>
                                                <td>{{ service_provider.service_provider_type }}</td>
                                                <td>{{ service_provider.name }}</td>
                                                <td>{{ service_provider.cnpj_cpf }}</td>
                                                <td>
                                                    {% if service_provider.legal_person %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>
                                                <td>{{ service_provider.email }}</td>
                                                <td>{{ service_provider.cell_phone }}</td>
                                                <td>{{ service_provider.adress}}</td>
                                                <td>{{ service_provider.business_hours}}</td>
                                                <td>
                                                    <a href="{% url 'atualizar_prestador_servico' pk=service_provider.id %}" class="btn btn-info"> Atualizar </a>
                                                    <a href="{% url 'deletar_prestador_servico' pk=service_provider.id %}" class="btn btn-outline-danger"> Deletar </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center mt-5 mb-5 jumbotron">
                                    <h5>Nenhum <code>Prestador de Serviço</code> cadastrado.</h5>
                                </div>
                            {% endif %}
                            <hr/>
                            <div class="text-right">
                                <a href="{% url 'adicionar_prestador_servico' %}" class="btn btn-primary"> Cadastrar Prestador de Serviço </a>
                                <a href="{% url 'home' %}" class="btn btn-primary"> Voltar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}