<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <title>Excursões</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/css/style.css">
  </head>
  
  <body>
    <div class="container">
        </br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Excursão</h5>
                        {% if excursoes|length > 0 %}
                            <p class="card-text"> Lista de<code> Excursões </code> cadastradas. </p>
                            <table class="table">
                                <thead class="thead thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Excursão</th>
                                        <th>Origem</th>
                                        <th>Destino</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for excursao in excursoes %}
                                        <tr>
                                            <td>{{ excursao.id }}</td>
                                            <td>{{ excursao.titulo }}</td>
                                            <td>{{ excursao.origem }}</td>
                                            <td>
                                                {% for destino in excursao.destino.all %}
                                                    {{ destino.nome_turistico }}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <a href="{% url 'atualizar' pk=excursao.id %}" class="btn btn-info"> Atualizar </a>
                                                <a href="{% url 'deletar' pk=excursao.id %}" class="btn btn-outline-danger"> Deletar </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center mt-5 mb-5 jumbotron">
                                <h5>Nenhuma <code>Excursão</code> cadastrada.</h5>
                            </div>
                        {% endif %}
                            <hr />
                            <div class="text-right">
                                <a href="{% url 'adicionar' %}" class="btn btn-primary"> Cadastrar Excursão </a>
                                <a href="{% url 'menu' %}" class="btn btn-primary"> Menu </a>
                            </div>
                    </div> <!--/card-body -->
                </div> <!--/card -->
            </div> <!--/col -->
        </div> <!--/row -->
    </div>
            <!-- Primeiro o jQuery, depois o Popper.js, e depois o Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
  </body>
</html>