<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <title>Destinos</title>
    <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/css/style.css">
  </head>
  
  <body>
    <div class="container">
        </br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista de Destinos</h5>
                        {% if destinos|length > 0 %}
                            <p class="card-text"> Lista de<code> Destinos </code> mapeados. </p>
                            <table class="table">
                                <thead class="thead thead-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Destino</th>
                                        <th>Cidade</th>
                                        <th>Estado</th>
                                        <th>Pais</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for destino in destinos %}
                                        <tr>
                                            <td>{{ destino.id }}</td>
                                            <td>{{ destino.nome_turistico }}</td>
                                            <td>{{ destino.cidade }}</td>
                                            <td>{{ destino.estado }}</td>
                                            <td>{{ destino.pais }}</td>
                                            <td>
                                                <a href="{% url 'atualizar_destino' pk=destino.id %}" class="btn btn-info"> Atualizar </a>
                                                <a href="{% url 'deletar_destino' pk=destino.id %}" class="btn btn-outline-danger"> Deletar </a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center mt-5 mb-5 jumbotron">
                                <h5>Nenhum <code>Destino</code> cadastradao.</h5>
                            </div>
                        {% endif %}
                            <hr />
                            <div class="text-right">
                                <a href="{% url 'adicionar_destino' %}" class="btn btn-primary"> Mapear Destino </a>
                                <a href="{% url 'menu' %}" class="btn btn-primary"> Menu </a>
                            </div>
                    </div> <!--/card-body -->
                </div> <!--/card -->
            </div> <!--/col -->
        </div> <!--/row -->
    </div>
            <!-- Primeiro o jQuery, depois o Popper.js, e depois o Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.js"></script>
  </body>
</html>