{% extends 'excursao/base_home.html' %}

{% block title %} <title> Destino </title> {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="col">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Destinos</h5>
                            {% if destinations|length > 0 %}
                                <p class="card-text"> Lista de<code> Destinos </code> mapeados. </p>
                                <table class="table">
                                    <thead class="thead thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Destino</th>
                                            <th>Cidade</th>
                                            <th>Estado</th>
                                            <th>Pais</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for destiny in destinations %}
                                            <tr>
                                                <td>{{ destiny.id }}</td>
                                                <td>{{ destiny.name }}</td>
                                                <td>{{ destiny.city }}</td>
                                                <td>{{ destiny.state }}</td>
                                                <td>{{ destiny.country }}</td>
                                                <td>
                                                    <a href="{% url 'atualizar_destino' pk=destiny.id %}" class="btn btn-info"> Atualizar </a>
                                                    <a href="{% url 'deletar_destino' pk=destiny.id %}" class="btn btn-outline-danger"> Deletar </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center mt-5 mb-5 jumbotron">
                                    <h5>Nenhum <code>Destino</code> cadastrado.</h5>
                                </div>
                            {% endif %}
                            <hr/>
                            <div class="text-right">
                                <a href="{% url 'adicionar_destino' %}" class="btn btn-primary"> Mapear Destino </a>
                                <a href="{% url 'home' %}" class="btn btn-primary"> Voltar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}