{% extends 'public/base_interno.html' %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Lista de Orçamentos de Transporte</h5>
                            {% if orcamentos|length > 0 %}
                                <p class="card-text"> Lista de<code> Orçamentos de Transportes </code> por Prestador de Serviço </p>
                                <table class="table">
                                    <thead class="thead thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Excursão</th>
                                            <th>Prestador de Serviço</th>
                                            <th>Transporte</th>
                                            <th>Cotação</th>
                                            <th>KMs</th>
                                            <th>Horário Partida</th>
                                            <th>Horário Chegada</th>
                                            <th>Observação</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for orcamento in orcamentos %}
                                            <tr>
                                                <td>{{ orcamento.id }}</td>
                                                <td>{{ orcamento.excursao }}</td>
                                                <td>{{ orcamento.prestador_servico }}</td>
                                                <td>{{ orcamento.transporte }}</td>
                                                <td>{{ orcamento.cotacao }}</td>
                                                <td>{{ orcamento.km }}</td>
                                                <td>{{ orcamento.horario_partida }}</td>
                                                <td>{{ orcamento.horario_chegada }}</td>
                                                <td>{{ orcamento.observacao }}</td>
                                                <td>
                                                    <a href="{% url 'atualizar_orcamento_transporte' pk=orcamento.id %}" class="btn btn-info"> Atualizar </a>
                                                    <a href="{% url 'deletar_orcamento_transporte' pk=orcamento.id %}" class="btn btn-outline-danger"> Deletar </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center mt-5 mb-5 jumbotron">
                                    <h5>Nenhum <code>Orçamento Transporte</code> cadastradao.</h5>
                                </div>
                            {% endif %}
                            <hr/>
                            <div class="text-right">
                                <a href="{% url 'adicionar_orcamento_transporte' %}" class="btn btn-primary"> Cadastrar Orçamento Transporte </a>
                                <a href="{% url 'menu' %}" class="btn btn-primary"> Menu </a>
                            </div>
                        </div> <!--/card-body -->
                    </div> <!--/card -->
                </div> <!--/col -->
            </div> <!--/row -->
        </div>
    </div>
{% endblock %}