{% extends 'excursao/base_home.html' %}

{% block title %} <title> Transporte </title> {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="col">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Transportes</h5>
                            {% if transportes|length > 0 %}
                                <p class="card-text"> Lista de<code> Transportes </code> por Prestador de Serviço </p>
                                <table class="table">
                                    <thead class="thead thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Prestador de Serviço</th>
                                            <th>Modelo</th>
                                            <th>Marca</th>
                                            <th>Ano</th>
                                            <th>Nº de Poltronas</th>
                                            <th>Banheiro</th>
                                            <th>Frigobar</th>
                                            <th>Ar-condicionado</th>
                                            <th>Som</th>
                                            <th>TV</th>
                                            <th>Observação</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for transporte in transportes %}
                                            <tr>
                                                <td>{{ transporte.id }}</td>
                                                <td>{{ transporte.prestador_servico }}</td>
                                                <td>{{ transporte.modelo }}</td>
                                                <td>{{ transporte.marca }}</td>
                                                <td>{{ transporte.ano }}</td>
                                                <td>{{ transporte.poltronas }}</td>
                                                <td>
                                                    {% if transporte.banheiro %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if transporte.frigobar %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if transporte.ar_condicionado %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if transporte.som %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if transporte.tv %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>
                                                <td>{{ transporte.observacao }}</td>
                                                <td>
                                                    <a href="{% url 'atualizar_transporte' pk=transporte.id %}" class="btn btn-info"> Atualizar </a>
                                                    <a href="{% url 'deletar_transporte' pk=transporte.id %}" class="btn btn-outline-danger"> Deletar </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center mt-5 mb-5 jumbotron">
                                    <h5>Nenhum <code>Transporte</code> cadastradao.</h5>
                                </div>
                            {% endif %}
                            <hr/>
                            <div class="text-right">
                                <a href="{% url 'adicionar_transporte' %}" class="btn btn-primary"> Cadastrar Transporte </a>
                                <a href="{% url 'home' %}" class="btn btn-primary"> Voltar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}