{% extends 'excursao/base_home.html' %}

{% block title %} <title> Orçamento </title> {% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="col">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <divd-body class="card-body">
                            <h5 class="card-title">Orçamentos</h5>
                            {% if estimates|length > 0 %}
                                <p class="card-text"> Lista de<code> Orçamentos </code> por Prestador de Serviço </p>
                                <table class="table">
                                    <thead class="thead thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Excursão</th>
                                            <th>Categoria Prestador Serviço</th>
                                            <th>Prestador de Serviço</th>
                                            <th>Cotação</th>
                                            <th>Horário Partida</th>
                                            <th>Horário Chegada</th>
                                            <th>Selecionado</th>
                                            <th>Observação</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for estimate in estimates %}
                                            <tr>
                                                <td>{{ estimate.id }}</td>
                                                <td>{{ estimate.excursion }}</td>
                                                <td>{{ estimate.service_provider_type }}</td>
                                                <td>{{ estimate.service_provider }}</td>
                                                <td>{{ estimate.cost }}</td>
                                                <td>{{ estimate.start_time }}</td>
                                                <td>{{ estimate.end_time }}</td>
                                                <td>
                                                    {% if estimate.selected %}
                                                        Sim
                                                    {% else %}
                                                        Não
                                                    {% endif %}
                                                </td>                 
                                                <td>{{ estimate.details }}</td>
                                                <td>
                                                    <a href="{% url 'atualizar_orcamento' pk=estimate.id %}" class="btn btn-info"> Atualizar </a>
                                                    <a href="{% url 'deletar_orcamento' pk=estimate.id %}" class="btn btn-outline-danger"> Deletar </a>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center mt-5 mb-5 jumbotron">
                                    <h5>Nenhum <code>Orçamento</code> cadastradao.</h5>
                                </div>
                            {% endif %}
                            <hr/>
                            <div class="text-right">
                                <a href="{% url 'adicionar_orcamento' %}" class="btn btn-primary"> Cadastrar Orçamento </a>
                                <a href="{% url 'home' %}" class="btn btn-primary"> Voltar </a>
                            </div>
                        </div
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}