{% load crispy_forms_tags %}
<link rel="stylesheet" href="../../static/css/login.css"> 
<div class="container">
      <div class="row">
        <h2 style="text-align:center">Login com Rede Social ou Manual</h2>
        <div class="vl">
          <span class="inner">ou</span>
        </div>
  
        <div class="col">
          <a href="{% url 'social:begin' 'facebook' %}" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login com Facebook
          </a>
          <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn">
            <i class="fa fa-google fa-fw"></i> Login com Gmail
          </a>
        </div>
  
        <div class="col">
          <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card  auth-card">
                    <div class="card-body">
                          <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
  </div>
  
  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a href="/conta/register" style="color:white" class="btn">Criar Conta</a>
      </div>
      <div class="col">
        <a href="#" style="color:white" class="btn">Esqueceu a senha?</a>
      </div>
    </div>
  </div>