{% load crispy_forms_tags %}
<link rel="stylesheet" href="../../static/css/login.css"> 
<div class="container">
    <div class="row">
        <h2 style="text-align:center">Registro Manual</h2>
        <div class="col">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card  auth-card">
                        <div class="card-body">
                            <h4 class="card-title text-center">Login</h4>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">
        <div class="row">
            <div class="col">
                <a href="/conta/login" style="color:white" class="btn">Já tenho uma conta</a>
            </div>
            <div class="col">
                <a href="#" style="color:white" class="btn">Esqueceu a senha?</a>
            </div>
        </div>
    </div>
</div><!-- End div class container -->